<a href="https://colab.research.google.com/github/catchyla99/Zeru-V2/blob/main/cleaningV2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

import os
import glob
import json
import pandas as pd
from tqdm import tqdm

data_folder = '/content/drive/My Drive/ZERU'

json_files = glob.glob(os.path.join(data_folder, '*.json'))
print(f"Found {len(json_files)} JSON files.")

def flatten_tx(tx):
    return {
        'wallet': tx.get('account', {}).get('id'),
        'amount': tx.get('amount'),
        'amountUSD': tx.get('amountUSD'),
        'asset_id': tx.get('asset', {}).get('id'),
        'asset_symbol': tx.get('asset', {}).get('symbol'),
        'hash': tx.get('hash'),
        'tx_id': tx.get('id'),
        'timestamp': tx.get('timestamp')
    }

all_records = []
for file in tqdm(json_files):
    with open(file, 'r') as f:
        try:
            data = json.load(f)
            if isinstance(data, dict):
                tx_list = next(iter(data.values()))
            elif isinstance(data, list):
                tx_list = data
            else:
                continue
            for tx in tx_list:
                all_records.append(flatten_tx(tx))
        except Exception as e:
            print(f"Error reading {file}: {e}")

print(f"Total records extracted: {len(all_records)}")

df = pd.DataFrame(all_records)

output_csv = '/content/drive/My Drive/ZERU/compoundV2_all_transactions.csv'
df.to_csv(output_csv, index=False)
print(f"Saved combined CSV to {output_csv}")

Mounted at /content/drive
Found 96 JSON files.

100%|██████████| 96/96 [01:19<00:00,  1.21it/s]

Total records extracted: 959305
Saved combined CSV to /content/drive/My Drive/ZERU/compoundV2_all_transactions.csv

In [ ]:
import pandas as pd

csv_path = '/content/drive/My Drive/ZERU/compoundV2_all_transactions.csv'
df = pd.read_csv(csv_path)

print(df.shape)
print(df.head())
print(df.info())
print(df.isnull().sum())

df.drop_duplicates(inplace=True)

df.dropna(subset=['wallet', 'amount', 'amountUSD', 'asset_symbol', 'timestamp'], inplace=True)

df['amount'] = pd.to_numeric(df['amount'], errors='coerce')
df['amountUSD'] = pd.to_numeric(df['amountUSD'], errors='coerce')
df['timestamp'] = pd.to_datetime(df['timestamp'], unit='s', errors='coerce')

df.dropna(subset=['amount', 'amountUSD', 'timestamp'], inplace=True)

df.columns = [c.lower() for c in df.columns]

cleaned_csv_path = '/content/drive/My Drive/ZERU/compoundV2_all_transactions_cleaned.csv'
df.to_csv(cleaned_csv_path, index=False)
print(f"Cleaned CSV saved to {cleaned_csv_path}")

(959305, 8)
                                       wallet                 amount  \
0  0x9e21d7f1d1878be7e4e5f0c8750b09b09414be44  293025918296213842664
1  0x9e21d7f1d1878be7e4e5f0c8750b09b09414be44  233591042300947866741
2  0x3eab4037a2e7f4d4d0946c091fe135838221f2b6  493866984581287182336
3  0x794ad3af58b56522b80aa7e9bc04f042c55d5b2f              300000000
4  0x9e21d7f1d1878be7e4e5f0c8750b09b09414be44  476901862957734543875

    amountUSD                                    asset_id asset_symbol  \
0  294.098362  0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359          DAI
1  236.936134  0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359          DAI
2  498.044019  0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359          DAI
3  300.000000  0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48         USDC
4  476.020148  0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359          DAI

                                                hash  \
0  0xc07a5d8ca08cd1e01a8324d6235da1df7d58720500ce...
1  0x11734b04bcd03f2cde375e4d13fafab9d17eef3d7aef...
2  0xe611412cb9164421a95070e96b041ee12fca19a04aaa...
3  0xcb7f5145eb6779cd18789251094f20587e357adb0f6e...
4  0xc0809ef3102b874c7d55aafb6abddf8b8f5cbe743197...

                                               tx_id   timestamp
0  0xc07a5d8ca08cd1e01a8324d6235da1df7d58720500ce...  1562192556
1  0x11734b04bcd03f2cde375e4d13fafab9d17eef3d7aef...  1562192990
2  0xe611412cb9164421a95070e96b041ee12fca19a04aaa...  1562193000
3  0xcb7f5145eb6779cd18789251094f20587e357adb0f6e...  1562193019
4  0xc0809ef3102b874c7d55aafb6abddf8b8f5cbe743197...  1562193418
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 959305 entries, 0 to 959304
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   wallet        959305 non-null  object
 1   amount        959305 non-null  object
 2   amountUSD     959305 non-null  float64
 3   asset_id      959305 non-null  object
 4   asset_symbol  959305 non-null  object
 5   hash          959305 non-null  object
 6   tx_id         959305 non-null  object
 7   timestamp     959305 non-null  int64
dtypes: float64(1), int64(1), object(6)
memory usage: 58.6+ MB
None
wallet          0
amount          0
amountUSD       0
asset_id        0
asset_symbol    0
hash            0
tx_id           0
timestamp       0
dtype: int64
Cleaned CSV saved to /content/drive/My Drive/ZERU/compoundV2_all_transactions_cleaned.csv

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/My Drive/ZERU/compoundV2_all_transactions.csv')

print(df.head())
print(df.info())

df.drop_duplicates(inplace=True)

df.dropna(subset=['wallet', 'amount', 'amountUSD', 'asset_symbol', 'timestamp'], inplace=True)

df['amount'] = pd.to_numeric(df['amount'], errors='coerce')
df['amountUSD'] = pd.to_numeric(df['amountUSD'], errors='coerce')
df['timestamp'] = pd.to_datetime(df['timestamp'], unit='s', errors='coerce')

df.dropna(subset=['amount', 'amountUSD', 'timestamp'], inplace=True)

df.to_csv('/content/drive/My Drive/ZERU/compoundV2_all_transactions_cleaned.csv', index=False)

                                       wallet                 amount  \
0  0x9e21d7f1d1878be7e4e5f0c8750b09b09414be44  293025918296213842664
1  0x9e21d7f1d1878be7e4e5f0c8750b09b09414be44  233591042300947866741
2  0x3eab4037a2e7f4d4d0946c091fe135838221f2b6  493866984581287182336
3  0x794ad3af58b56522b80aa7e9bc04f042c55d5b2f              300000000
4  0x9e21d7f1d1878be7e4e5f0c8750b09b09414be44  476901862957734543875

    amountUSD                                    asset_id asset_symbol  \
0  294.098362  0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359          DAI
1  236.936134  0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359          DAI
2  498.044019  0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359          DAI
3  300.000000  0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48         USDC
4  476.020148  0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359          DAI

                                                hash  \
0  0xc07a5d8ca08cd1e01a8324d6235da1df7d58720500ce...
1  0x11734b04bcd03f2cde375e4d13fafab9d17eef3d7aef...
2  0xe611412cb9164421a95070e96b041ee12fca19a04aaa...
3  0xcb7f5145eb6779cd18789251094f20587e357adb0f6e...
4  0xc0809ef3102b874c7d55aafb6abddf8b8f5cbe743197...

                                               tx_id   timestamp
0  0xc07a5d8ca08cd1e01a8324d6235da1df7d58720500ce...  1562192556
1  0x11734b04bcd03f2cde375e4d13fafab9d17eef3d7aef...  1562192990
2  0xe611412cb9164421a95070e96b041ee12fca19a04aaa...  1562193000
3  0xcb7f5145eb6779cd18789251094f20587e357adb0f6e...  1562193019
4  0xc0809ef3102b874c7d55aafb6abddf8b8f5cbe743197...  1562193418
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 959305 entries, 0 to 959304
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   wallet        959305 non-null  object
 1   amount        959305 non-null  object
 2   amountUSD     959305 non-null  float64
 3   asset_id      959305 non-null  object
 4   asset_symbol  959305 non-null  object
 5   hash          959305 non-null  object
 6   tx_id         959305 non-null  object
 7   timestamp     959305 non-null  int64
dtypes: float64(1), int64(1), object(6)
memory usage: 58.6+ MB
None